
<!-- Based on examples from the W3CSchool -->

<html>
<head>
	<title>Demo JavaScript Examples</title>
	<link href="/stylesheets/main.css" rel="stylesheet" type="text/css" />
	<script>
	</script>
</head>
<body>

	<h2>Content Replacement</h2>

	<p id="content_to_change">Starting Content</p>

	<button type="button" onclick='document.getElementById("content_to_change").innerHTML = "Now you have done it."'>Change The Content</button>

	<h2>Change HTML attributes</h2>

	<button onclick="document.getElementById('flip_image').src='images/left.jpg'">Flip Left</button>

	<img id="flip_image" src="images/left.jpg" style="width:100px">

	<button onclick="document.getElementById('flip_image').src='images/right.jpg'">Flip Right</button>

	<h2>Changing CSS</h2>

	<p id="content_to_style">Lets add style dynamically.</p>

    <button type="button" onclick="document.getElementById('content_to_style').style.color='red'">Change Look.</button>

	<h2>Changing Visibility</h2>

    <p id="content_to_toggle">Things can appear and disappear.</p>

	<button type="button" onclick="document.getElementById('content_to_toggle').style.display='none'">Hide it</button>
	<button type="button" onclick="document.getElementById('content_to_toggle').style.display='block'">Show it</button>

</body>
</html>